.form-question {
    font-size: 1.2em;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans',sans-serif;
    background:#f4f4ef;
}


.center {
text-align: center;
}
a {
color:#636363;
text-decoration: none;
transition:all 0.5s ease-in;
}

a:hover {
text-decoration: underline;
}

/* Navigation */


.navbar {
background:#fff;
text-align:center;
padding:1.5rem 0;
width:100%;
display:flex;
justify-content: space-between;
align-items: center;
box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
}
    
.navlink {
    padding: 0 25px;
}

.navbar h2 {
margin:0;
font-weight:200;
font-size:30px;
letter-spacing: 4px;
font-family:'Work Sans',sans-serif;
}
    
    
/* Question Styles */
.question-container {
background:#fff;
padding:50px;
width:50%;
margin:40px auto;
box-shadow:0 5px 15px 0 rgba(46, 61, 73, 0.12);
font-family:'Work Sans',sans-serif;
font-size:30px;
border-radius: 10px;
}
    
    
.question_heading {
    text-align:center;
    font-weight:400;
    font-size:30px;
    color:#636363;
}
    

.form {
display:flex;
flex-direction: column;
justify-content: center;
align-items: center;
} 

    
.form input {
    height:44px;
    padding-left:15px;
    padding-right:15px;
    border: 1px solid #dbe2e8;
    font-size:14px;
    border-radius:5px;
    color:#636363;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline:none;
    width:80%;
}

.form textarea {
    width:80%;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    border: 1px solid #dbe2e8;
    font-size:14px;
    border-radius:5px;
    color:#636363;
    font-family: 'Work Sans,',sans-serif;
    box-shadow: 0 2px 2px 0 rgba(46, 60, 73, 0.05);
    outline:none;
}

.answerListItem {
    padding: 5px 5px;
    list-style: none;
}

.home-form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
} 


.all_question_heading {
    text-align:center;
    font-weight:400;
    font-size:30px;
    color:#636363;
    word-wrap: break-word;
    }
    
    
.question {
    background:#fff;
    width:50%;
    margin:0 auto;
    padding:30px;
    margin-bottom:20px;
    box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
    border-radius: 10px;
}

.home-question-box {
    min-width: 200px;
    width: 50%;
}

.home_question {
    background:#fff;
    margin:0 auto;
    padding:30px;
    margin-bottom:20px;
    box-shadow: 10px 10px 12px 0 rgba(46, 60, 73, 0.05);
    border-radius: 10px;
}

.home_question textarea {
    width: 80%;
    border: 1px solid #dbe2e8;
    font-size:14px;
    border-radius:5px;
    color:#636363;
    font-family: 'Work Sans,',sans-serif;
    outline: none;
}

.home_answer {
    margin-top: 5px;
    margin-bottom: 10px;
}

.home_answer select {
    min-width:75px;
}

.home_additional-notes {
    min-width: 250px;
    width: 50%;
    text-align: center;
}

.home_additional-notes textarea{
    margin-top: 10px;
    margin-bottom: 5px;
    width: 100%;
    width: 100%;
    border: 1px solid #dbe2e8;
    font-size:14px;
    border-radius:5px;
    color:#636363;
    font-family: 'Work Sans,',sans-serif;
    outline: none;
}

.home_buttons {
    min-width: 250px;
    width: 50%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.home_buttons button {
    outline: none;
    border-radius: 5px;
    padding: 7px 15px;
}


.form button {
background:#02b3e4;
padding:15px 40px;
text-align: center;
color:#fff;
font-family:'Work Sans',sans-serif;
border-radius:10px;
border:none;
font-size:20px;
outline: none;
}
    

.question_query {
text-align:center;
font-weight:400;
font-size:25px;
color:#636363;
word-wrap: break-word;
}


.control-buttons {
display:flex;
}


.delete {
background: #ff7777;
border:none;
text-align: center;
font-size:15px;
padding:10px 25px;
border-radius:20px;
cursor:pointer;
outline: none;
color:#fff;
}


.edit {
background:#02b3e4;;
border:none;
text-align: center;
font-size:15px;
padding:10px 25px;
border-radius:20px;
cursor:pointer;
margin-right:auto;
outline: none;
color:#fff;
}